<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by Hendry Syamsudin on 22/12/20 17:36
  ~ Copyright (c) APP Sinarmas 2020. All rights reserved.
  ~ Last modified 22/12/20 17:34
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.co.app.source"
    android:installLocation="preferExternal">
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="id.co.app.source.MainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="id.co.app.source.ui.main.MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.typography.TypographyActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>

        <activity
            android:name=".ui.icon.UnifyIconActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>

        <activity
            android:name=".ui.textfield.TextFieldActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>

        <activity
            android:name=".ui.label.LabelActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>

        <activity
            android:name=".ui.coachmark.CoachMarkActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"/>
    </application>

</manifest>